	nav {
		background-color: #828080;
		padding: 10px;
		color: white;
		text-align: center;
	  }
	
	  nav a {
		color: white;
		text-decoration: none;
		margin: 0 15px;
		font-size: 1.2rem;
	  }
	
	  nav a:hover {
		text-decoration: underline;
	  }
	