	nav {
		position: fixed;  /* Fissa la navbar in cima */
		top: 0;
		left: 0;
		width: 100%;
		padding: 10px 0;
		z-index: 1000;  /* Assicura che la navbar stia sopra il contenuto */

		background-color: #828080;
		color: white;
		text-align: center;
	  }
	
	  nav a {
		color: white;
		text-decoration: none;
		margin: 0 15px;
		font-size: 1.2rem;
	  }
	
	  nav a:hover {
		text-decoration: underline;
	  }
	