body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-container {
    margin-top: 50px;
}

.big-card-box, .data-card-box {
    display: flex;
    border: 0.13vh solid #ccc;
    padding: 2.67vh;
    box-shadow: 0 0.53vh 1.07vh rgba(0, 0, 0, 0.1);
    max-width: 133.33vh;
    border-radius: 1.33vh;
    margin: 0 auto 20px auto;
    background-color: #f8f9fa;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.big-card-box:hover {
    transform: scale(1.02);
}

.data-card-box {
    background-color: #FFF5EC;
}

.big-card-img-container {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1.33vh;
    overflow: hidden;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Add transform transition */
}

.big-card-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 1.33vh;
    object-fit: contain;
    box-sizing: border-box;
}

.big-card-img-container:hover {
    box-shadow: 0 0.53vh 1.07vh rgba(0, 0, 0, 0.2);
    background-color: #f1f8e9;
    transform: rotate(2deg);
}

.big-card-text-container {
    padding: 2.67vh;
    flex: 1;
    text-align: left;
}

.big-card-title-ahh {
    font-size: 3.5vh;
    margin-bottom: 1.33vh;
    font-weight: bold;
    color: #333;
}

.big-card-text {
    font-size: 2.5vh;
    margin-top: 1.33vh;
    margin-left: 2vh;
    line-height: 1.6;
    color: #555;
}

.card-title {
    font-size: 3vh;
    margin: 0;
    transition: color 0.2s ease-in-out;
}

.card-title:hover {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 2.67vh;
    max-width: 133.33vh;
    margin: 2.67vh auto;
}

.card {
    width: 44.44vh;
    max-width: 44.44vh;
    text-align: center;
    border: 0.13vh solid #ccc;
    box-shadow: 0 0.27vh 0.53vh rgba(0, 0, 0, 0.1);
    border-radius: 1.33vh;
    overflow: hidden;
    margin: 3vh 0;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: none;
}

.card-title, .card-date, .card-text {
    margin: 1.33vh 0;
    padding: 0 1.33vh;
}

.card-title {
    font-size: 3vh;
}

.card-date {
    color: #888;
    font-size: 2vh;
}

.card-text {
    font-size: 2.5vh;
}

@media (max-width: 992px) {
    .big-card-box {
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        padding: 2vh;
        margin-bottom: 10vh;  /* Ensure margin between the cards */
        height: auto !important;  /* Allow the card to use all the space it needs */
    }

    .big-card-img-container, .big-card-text-container {
        width: 100%;  /* Ensure both containers use full width */
        height: 100%;
    }

    .big-card-img {
        padding: 15px; /* Adjust padding as needed */
        width: 40%; /* Ensure image uses full width */
        height: auto; /* Maintain aspect ratio */
    }

    .big-card-text-container {
        text-align: center;
        padding: 2vh;
    }

    .big-card-title-ahh {
        font-size: 3vh;
    }

    .big-card-text {
        font-size: 2vh;
        text-align: left;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin-bottom: 2vh;
        height: auto !important; /* Allow the card to use all the space it needs */
    }

    .big-card-img-container{
        height: auto !important;
    }

    .big-card-img-container:hover {
        transform: none; /* Disable tilt effect on mobile */
    }
}