/* Navbar styling */
.navbar {
    background-color: rgba(0, 0, 0, 0.61);
    transition: all 0.5s;
    backdrop-filter: blur(2px);
    padding: 5px 0; /* Reduce padding to decrease height */
}

.navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.46) !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px; /* Add space between elements */
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    color: white !important;
    font-size: 1.2rem; /* Increase font size */
    background-color: rgba(0, 0, 0, 0.1); /* Add background color */
    border-radius: 5px; /* Add border radius */
    padding: 0 10px; /* Adjust padding */
    width: 100px; /* Make the boxes square */
    transition: background-color 0.3s, transform 0.3s; /* Add transition for hover effect */
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Change background color on hover */
    transform: scale(1.1); /* Add a slight zoom effect on hover */
}

#navbar-logo {
    height: 5%;
    margin-right: 1%;
    margin-top: 0;
    margin-right: 30px; /* Add space between logo and links */
}

.form-control {
    background-color: transparent;
    transition: all 0.5s;
    color: white !important;
    width: 300px; /* Set a fixed width */
    margin-right: 10px; /* Add margin to the right */
}

.form-control::placeholder {
    color: white !important;
}

/* Ensure the form takes up the remaining space and aligns its contents to the right */
form.d-flex.ms-auto {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 990px) {
    .container-fluid {
        display: flex;
        justify-content: center; /* Center the contents horizontally */
        width: 210px;
        height: 70px;
    }
    .navbar {
        padding: 0 !important; /* Increase padding to make the navbar thicker */
    }
    .disappear-mobile {
        display: none;
    }
    .navbar-nav {
        flex-direction: row; /* Ensure items are in a row */
        align-items: center; /* Center align items vertically */
    }
    .nav-item {
        margin-left: 10px; /* Add margin to the left of nav items */
    }
    #navbar-logo {
        display: block;
        margin: 0 auto; /* Center the logo */
        height: 70px !important; /* Increase logo height */
        width: auto !important; /* Increase logo width */
    }
}

.nav-item {
    white-space: nowrap;
    list-style-type: none; /* Remove marker */
}

.navigation-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100% !important; /* Ensure it takes up 100% height of the navbar */
    align-items: center; /* Center align items vertically */
}

.navigation-links ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100% !important;
    list-style: none;
}

@media (max-width: 420px) {
    .navbar-nav, .form-control, .nav-link, .nav-item {
        display: none;
    }
    #navbar-logo {
        display: block;
        margin: 0 auto; /* Center the logo */
    }
}


