body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    background: linear-gradient(to bottom, #f6fbf1, #e3f2e1) !important;
    overflow-x: hidden; /* Block horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    -ms-overflow-style: scrollbar; /* For Internet Explorer and Edge */
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

html {
    overflow-x: hidden; /* Block horizontal scrolling */
    overflow-y: auto; /* Allow vertical scrolling */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}